<button type="button" data-id="{{ object.id }}" data-like="True" class="btn btn-light">
    <i class="bi bi-hand-thumbs-up{% for o in object.like_model.all %}{% if o.user == request.user.profile and o.positive%}-fill{% endif %}{% endfor %}"></i>
</button>

<span>{{ object.rating }}</span>

<button type="button" data-id="{{ object.id }}" data-like="False" class="btn btn-light">
    <i class="bi bi-hand-thumbs-down{% for o in object.like_model.all %}{% if o.user == request.user.profile and not o.positive%}-fill{% endif %}{% endfor %}"></i>
</button>