{% extends 'layouts/base.html' %}

{% block content %}
<div class="create-question-form form-bottom">
      <h2>Log In</h2>
      <form>
          <div class="mb-3">
              <p class="wrong-pas">Sorry, wrong password!</p>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="md-3">
              <p><a class="link-opacity-25-hover" href="{% url 'signup' %}">Сreate a new account</a></p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}